body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  background: #1a1a1a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

/* compiled from scss */
.loader {
  position: relative;
}
.loader .lc {
  width: 200px;
  height: 3px;
  background: rgba(255, 255, 255, 0.0666666667);
  position: relative;
  border-radius: 4px;
}
@media screen and (max-width: 1200px) {
  .loader .lc {
    height: 4px;
  }
}
@media screen and (max-width: 800px) {
  .loader .lc {
    height: 6px;
  }
}
.loader .lc .li {
  height: 100%;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  background: #176ee0;
  animation: t var(--loading-animation-duration, 3s) ease-in-out infinite;
  border-radius: 4px;
}
@keyframes t {
  0% {
    width: 0%;
    left: 0;
  }
  25% {
    width: 100%;
    left: 0;
  }
  50% {
    width: 0%;
    left: 100%;
  }
  75% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0%;
    left: 0;
  }
}
.loader .fetching {
  font-weight: 400;
}
@keyframes fetching {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
  }
}
.loader .fetching:not(.noTextAnim) {
  animation: var(--animTime, 1s) infinite fetching linear;
}
