<script lang="ts">
  import { Icon } from '@3xpo/svelte-bootstrap-ico';
</script>

<!-- YOU CAN DELETE EVERYTHING IN THIS PAGE -->

<svelte:head>
  <title>SkENSTTK</title>
</svelte:head>

<div class="container h-full mx-auto flex justify-center items-center">
  <div class="space-y-10 text-center flex flex-col items-center">
    <h2 class="h2">Welcome to SkENSTTK.</h2>
    <p class="text-xl" style="--tw-space-y-reverse: 0.6;margin-bottom:0;">
      Some Tagline Here
    </p>
    <!-- Animated Logo -->
    <figure>
      <section class="img-bg" />
      <Icon style="font-size: 256px" icon="house" />
    </figure>
    <!-- / -->
    <div class="flex justify-center space-x-2">
      <a
        class="btn variant-filled"
        href="https://skeleton.dev/"
        target="_blank"
        rel="noreferrer"
      >
        Skeleton Docs
      </a>
      <a
        class="btn variant-filled"
        href="https://codeberg.org/Expo/svelte-electron-nx"
        target="_blank"
        rel="noreferrer"
      >
        Template Source
      </a>
    </div>
    <div class="space-y-2">
      <p>Try editing the following:</p>
      <p><code class="code">/src/lib/layout/nav/*.svelte</code></p>
      <p><code class="code">/src/routes/+layout.svelte</code></p>
      <p><code class="code">/src/routes/+page.svelte</code></p>
    </div>
  </div>
</div>

<style lang="postcss">
  figure {
    @apply flex relative flex-col;
  }
  figure svg,
  .img-bg {
    @apply w-64 h-64 md:w-80 md:h-80;
  }
  .img-bg {
    @apply absolute z-[-1] rounded-full blur-[50px] transition-all;
    animation:
      pulse 5s ease-in-out infinite,
      glow 5s linear infinite;
  }
  @keyframes glow {
    0% {
      @apply bg-primary-400/50;
    }
    33% {
      @apply bg-secondary-400/50;
    }
    66% {
      @apply bg-tertiary-400/50;
    }
    100% {
      @apply bg-primary-400/50;
    }
  }
  @keyframes pulse {
    50% {
      transform: scale(1.5);
    }
  }
</style>
