<script lang="ts">
  import '../app.postcss';
  import { AppShell, AppBar } from '@skeletonlabs/skeleton';

  // Floating UI for Popups
  import {
    computePosition,
    autoUpdate,
    flip,
    shift,
    offset,
    arrow,
  } from '@floating-ui/dom';
  import {
    FontRemoteHeadImport,
    LoadFontScss,
  } from '@3xpo/svelte-bootstrap-ico';
  import { storePopup } from '@skeletonlabs/skeleton';
  import LeftSidebar from '$lib/layout/nav/LeftSidebar.svelte';
  import TopbarButtons from '$lib/layout/nav/TopbarButtons.svelte';
  import TopbarText from '$lib/layout/nav/TopbarText.svelte';
  import { onNavigate } from '$app/navigation';
  import { dev } from '$app/environment';
  onNavigate(e => {
    sessionStorage.setItem('lastUrl', e.to?.url.href ?? '/');
  });
  storePopup.set({ computePosition, autoUpdate, flip, shift, offset, arrow });
</script>

{#if dev}
  <LoadFontScss />
{:else}
  <FontRemoteHeadImport />
{/if}

<!-- App Shell -->
<AppShell>
  <svelte:fragment slot="header">
    <!-- App Bar -->
    <AppBar>
      <svelte:fragment slot="lead">
        <TopbarText />
      </svelte:fragment>
      <svelte:fragment slot="trail">
        <TopbarButtons />
      </svelte:fragment>
    </AppBar>
  </svelte:fragment>
  <svelte:fragment slot="sidebarLeft">
    <LeftSidebar />
  </svelte:fragment>
  <!-- Page Route Content -->
  <slot />
</AppShell>
