<script lang="ts">
  import { page } from '$app/stores';
  import { AppRail, AppRailAnchor, AppRailTile } from '@skeletonlabs/skeleton';
  import groups from './Groups';
  import Icon from '@3xpo/svelte-bootstrap-ico';
  import { writable } from 'svelte/store';
  $: entries = Object.entries(groups).findLast(v =>
    $page.route.id?.startsWith(v[0]),
  );
  $: selGroup = entries?.[0];
  const iconSize = 24;
</script>

<AppRail>
  <!-- <svelte:fragment slot="lead">
    <AppRailAnchor href="/">
      <Icon icon="code-slash" style="font-size:{iconSize}px;" />
    </AppRailAnchor>
  </svelte:fragment> -->
  <!-- --- -->
  {#each Object.entries(groups) as [id, group]}
    <AppRailAnchor
      bind:group={selGroup}
      name={group[0]}
      value={group[0]}
      title={group[0]}
      selected={(selGroup ?? Object.keys(groups)[0]) === id}
      href={group[1]}
    >
      <svelte:fragment slot="lead">
        <Icon icon={group[2]} style="font-size:{iconSize}px;" />
      </svelte:fragment>
      <span>{group[0]}</span>
    </AppRailAnchor>
  {/each}
  <!-- --- -->
  <svelte:fragment slot="trail">
    <AppRailAnchor href="/" target="_blank" title="Account">test</AppRailAnchor>
  </svelte:fragment>
</AppRail>
